@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-light: #135D66;
$primary-dark: #174146;
$secondary-light: #003C43;
$secondary-dark: #ffe1ff;
$text: #333;
